<div id="container">
  <div id="animation">
    <div id="Stage" class="EDGE-171195031">
    </div>
  </div>


  <div id="body">


    <div id="infoModal" class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <form role="form" id="infoForm">
           <h3> Tell us something first</h3>
           <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter your name">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email">
          </div>
          <div class="form-group" row>
            <label for="dob">Date of Birth</label>
            <input type="text" name="dob" class="form-control" placeholder="mm/dd/yyyy">

          </div>
          <div class="form-group" row>
            <label for="hobbies">What do you do in your free time?</label>
            <textarea type="text" name="hobbies" class="form-control"></textarea>
          </div>

          <button class="modalBtn btn btn-default">Skip</button>
          <button class="modalBtn btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <input class="form-control" type="password" id="password" name="password" placeholder="Type in your password">
    </div>
  </div>

  <div id="progress">
    <div class="progress">
    <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 0px;">
        <span class="sr-only"></span>
      </div>
    </div>
  </div>

  <div id="randomStrings" class="row">
   <div class="well well-sm col-md-2 col-md-offset-5" id="randomString">Jack the Ripper</div>
 </div>


</div>

