// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "bootstrap/theme";

#animation {
	height: 300px;
	background: #9C9C9C;
}

#infoForm {
	margin: 20px;
}

#body {
	margin-top: 2em;
}

#password {
	width: 100%;
}

#progress {
	margin: 40px;
}

#randomStrings {
	.well {
		text-align: center;
	}
}